@model List<ETradingSystem.Models.Product>

@{

    ViewBag.Title = "Search Results";

}

<h2>Search Results</h2>

<table class="table table-striped">

    <tr>

        <th>Product Name</th>

        <th>Brand</th>

        <th>Color</th>

        <th>Price</th>

        <th>Available Stock</th>

        <th>Status</th>

        <th>Image</th>

    </tr>

    @foreach (var product in Model)

    {

        <tr>

            <td>@product.Product_Name</td>

            <td>@product.Brand</td>

            <td>@product.Color</td>

            <td>@product.Price</td>

            <td>@product.Available_Stock</td>

            <td>@product.Status</td>

            <td><img src="@Url.Content("~/Images/" + product.ImageFileName)" width="50" height="50" /></td>

        </tr>

    }

</table>
